In [ ]:
import pandas as pd
import numpy as np

In [26]:
# Define the path to the cleaned dataset
DATA_PATH = "../../Data/clean/fitness_profiles_clean.csv"

# Load the cleaned dataset into df_cleaned
df_cleaned = pd.read_csv(DATA_PATH)

# Check the first few rows to confirm the dataset loaded correctly
print("Dataset loaded successfully!")
df_cleaned.head(20)  # Preview the first 20 rows

Dataset loaded successfully!

     Age  gender_enc   BMI  goal_enc           plan_key
0   34.0           0  25.1         1     S_MOD_3D_35_50
1   26.0           0  25.3         1     S_MOD_3D_35_50
2   22.0           1  18.9         0     C_STD_4D_35_45
3   54.0           0  22.7         0    C_CONS_3D_20_30
4   34.0           0  17.4         1     S_MOD_3D_35_50
5   38.0           0  21.2         0   C_MOD_3_4D_30_40
6   44.0           0  14.2         0   C_MOD_3_4D_30_40
7   50.0           0  33.3         1  S_CONS_2_3D_30_40
8   18.0           0  35.0         0    C_CONS_3D_20_30
9   34.0           0  21.8         0   C_MOD_3_4D_30_40
10  39.0           0  14.8         0   C_MOD_3_4D_30_40
11  46.0           1  11.3         0   C_MOD_3_4D_30_40
12  19.0           1  22.4         1     S_STD_3D_45_60
13  56.0           0  35.9         0    C_CONS_3D_20_30
14  19.0           0  19.7         0     C_STD_4D_35_45
15  30.0           0  35.4         0    C_CONS_3D_20_30
16  23.0           1  18.1         0     C_STD_4D_35_45
17  39.0           0  22.8         0   C_MOD_3_4D_30_40
18  54.0           0  19.6         0    C_CONS_3D_20_30
19   NaN           1  27.6         0   C_MOD_3_4D_30_40

In [27]:
# Check the dataset columns to understand its structure
print("Dataset Columns:", df_cleaned.columns)

# Check for missing values
print("\nMissing values:")
print(df_cleaned.isna().sum())

# Display general info (datatypes, non-null counts, etc.)
df_cleaned.info()

Dataset Columns: Index(['Age', 'gender_enc', 'BMI', 'goal_enc', 'plan_key'], dtype='object')

Missing values:
Age           10
gender_enc     0
BMI           47
goal_enc       0
plan_key       0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         1790 non-null   float64
 1   gender_enc  1800 non-null   int64
 2   BMI         1753 non-null   float64
 3   goal_enc    1800 non-null   int64
 4   plan_key    1800 non-null   object
dtypes: float64(2), int64(2), object(1)
memory usage: 70.4+ KB

In [28]:
# Round BMI to 1 decimal place for better readability (this was already done in Notebook 1)
df_cleaned["BMI"] = df_cleaned["BMI"].round(1)

# Display a summary of the BMI column
print(df_cleaned["BMI"].describe())

count    1753.000000
mean       22.719966
std         7.665842
min        10.000000
25%        16.900000
50%        21.600000
75%        27.200000
max        57.500000
Name: BMI, dtype: float64

In [29]:
# Create feature set (X) and label set (y) using the cleaned data
X = df_cleaned[["Age", "gender_enc", "BMI", "goal_enc"]]  # Features
y = df_cleaned["plan_key"]  # Target label

# Display the feature set (X) and label set (y)
print("Feature Set (X):")
print(X.head())

print("\nLabel Set (y):")
print(y.head())

Feature Set (X):
    Age  gender_enc   BMI  goal_enc
0  34.0           0  25.1         1
1  26.0           0  25.3         1
2  22.0           1  18.9         0
3  54.0           0  22.7         0
4  34.0           0  17.4         1

Label Set (y):
0     S_MOD_3D_35_50
1     S_MOD_3D_35_50
2     C_STD_4D_35_45
3    C_CONS_3D_20_30
4     S_MOD_3D_35_50
Name: plan_key, dtype: object

In [30]:
from sklearn.model_selection import train_test_split

# Split the data into 80% training and 20% validation sets
X_train, X_valid, y_train, y_valid = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

# Verify the split and display the shape of training and validation sets
print(f"Training set size: {X_train.shape[0]} samples")
print(f"Validation set size: {X_valid.shape[0]} samples")

Training set size: 1440 samples
Validation set size: 360 samples